<div class="nav_container">
    <div >
        <i (click)="openPlaylist()" class="fa" style="color: rgb(70, 70, 70); font-size: large;" >&#xf0c9;</i>

    <a style="font-weight: bold;color: azure; letter-spacing: 2px;font-size: x-large;" href="/home">VibeCLoud</a>
    </div>
    <div>
        <span style="color:rgba(201, 201, 201, 0.705); font-size:medium;">Name for the user</span>
        <i style="box-sizing: border-box;border-radius: 3px;height: 30px;color: rgba(253, 253, 253, 0.753); font-size: x-large;"  (click)="dashboard()" class="fa">&#xf007;</i>

    </div>
</div>